[run]
branch = True
source =
    django_package_template

omit =
    */django_package_template/migrations/*
    */tests/*
    */.tox/*
    */bin/*
    */test/*
    runtests.py

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
    raise AssertionError

ignore_errors = True